.row{
    text-align: center;
    column-gap: 220px;
    margin-left: 40px;
}
.navbar{
    background-color: black;

}
.btn{
    background-color: yellow;
    color: black;

}
.nav-justified{
    background-color: grey;
}
.nav-link{
    color: white;
}
.bread{
    color: blue;
}
h1{
    text-align: center;
}

.lead{
    text-align: center;
}
.row{
    margin-bottom: 40px;
}
h2{
    margin-left: 40px;
}